org: dohyeon5626
app: github-html-preview
service: github-html-preview

provider:
  name: aws
  runtime: nodejs22.x

functions:
  api:
    handler: app.application
    events:
      - httpApi: "*"

plugins:
  - serverless-offline
  - serverless-dotenv-plugin

package:
  exclude:
    - .env