org: dohyeon5626
app: time-capsule
service: time-capsule

provider:
  name: aws
  runtime: nodejs20.x
  iam:
    role:
      statements:
        - Effect: "Allow"
          Action:
            - "dynamodb:PutItem"
            - "dynamodb:GetItem"
            - "dynamodb:Query"
            - "dynamodb:Scan"
            - "dynamodb:TransactWriteItems"
          Resource: 
            - "arn:aws:dynamodb:${aws:region}:${aws:accountId}:table/time_capsule_subscription"
            - "arn:aws:dynamodb:${aws:region}:${aws:accountId}:table/time_capsule_reservation"
            - "arn:aws:dynamodb:${aws:region}:${aws:accountId}:table/time_capsule_subscription/index/OpenDateIndex"

functions:
  api:
    handler: app.application
    events:
      - httpApi: "*"

plugins:
  - serverless-offline
  - serverless-dotenv-plugin

package:
  exclude:
    - .env